<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <div class="layout-wrapper">
            <div class="layout-topbar">
                <a class="menu-button"><i class="pi pi-bars"></i></a>

                <NavLink href="/" class="logo">
                    <img alt="logo" src="./assets/logo.png">
                </NavLink>
                <ul class="topbar-menu">

                    <li><router-link to="/setup">Get Started</router-link></li>

                    <li class="topbar-menu-themes">
                        <a>Themes</a>

                        <ul>

                            <li class="topbar-submenu-header">THEMING</li>

                            <li class="topbar-submenu-header">FREE THEMES</li>

                        </ul>

                    </li>

                    <li><router-link to="/support">Support</router-link></li>

                </ul>

            </div>
            <div class="layout-sidebar">
            </div>
            <div class="layout-content">

                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />

                <div class="content-section layout-footer clearfix">
                    <span>Released under the MIT License,  Copyright © 2018 <a href="http://www.primetek.com.tr" target="_blank" rel="noopener noreferrer">PrimeTek</a></span>
                    <div class="footer-links">
                        <a href="https://github.com/primefaces/primevue"><i class=" icon-github fa fa-github-square"></i></a>
                        <a href="https://twitter.com/primevue"><i class="icon-twitter fa fa-twitter-square"></i></a>

                    </div>

                </div>

            </div>
        </div>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
