<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <div class="layout-wrapper">
            <AppTopBar />
            <AppMenu />
            <div class="layout-content">

                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />

                <AppFooter />

            </div>
        </div>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
