<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <div class="layout-wrapper">
            <AppTopBar menubuttonClick="onMenuButtonClick" />
            <AppMenu active="sidebarActive" menuitemClick="onMenuItemClick" />
            <div class="layout-mask @(sidebarActive?"layout-mask-active":null)" @onclick="onMaskClick"></div>
            <div class="layout-content">

                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />

                <AppFooter />

            </div>
        </div>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    private bool sidebarActive = false;
    private void onMenuButtonClick(MouseEventArgs eventArgs)
    {
        this.sidebarActive = !this.sidebarActive;
    }
    private void onMenuItemClick(MouseEventArgs mouseEventArgs)
    {
        this.sidebarActive = false;
    }
    private void onMaskClick(MouseEventArgs eventArgs)
    {
        this.sidebarActive = false;
    }
}