<div class="layout-sidebar">
    <div class="layout-menu">
        <a @onclick="((e)=>toogleMenu(e,0))"
           class="@(activeMenuIndex==0?"active-menuitem":string.Empty)">
            <img alt="input" class="layout-menu-icon-inactive" src="./assets/images/menu/input.svg" />
            <img alt="input" class="layout-menu-icon-active" src="./assets/images/menu/input-active.svg" />
            <span>Input</span>

        </a>
        <div class="@(activeMenuIndex!=0?"submenuhide":"submenushow")">
            <div>
                <router-link to="/inputtext">&#9679; InputText</router-link>

            </div>

        </div>

        <a @onclick="((e)=>toogleMenu(e,1))"
           class="@(activeMenuIndex==1?"active-menuitem":string.Empty)">
            <img alt="button" class="layout-menu-icon-inactive" src="./assets/images/menu/button.svg" />
            <img alt="button" class="layout-menu-icon-active" src="./assets/images/menu/button-active.svg" />
            <span>Button</span>

        </a>
        <div class="@(activeMenuIndex!=1?"submenuhide":"submenushow")">
            <div>
                <router-link to="/button">&#9679; Button</router-link>
            </div>
        </div>
        <a @onclick="((e)=>toogleMenu(e,2))" :class="@(activeMenuIndex==2?"active-menuitem":string.Empty)">
            <img alt="data" class="layout-menu-icon-inactive" src="./assets/images/menu/data.svg" />
            <img alt="data" class="layout-menu-icon-active" src="./assets/images/menu/data-active.svg" />
            <span>Data</span>
        </a>
        <div class="@(activeMenuIndex!=2?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,3))" :class="@(activeMenuIndex==3?"active-menuitem":string.Empty)">
            <img alt="panel" class="layout-menu-icon-inactive" src="./assets/images/menu/panel.svg" />
            <img alt="panel" class="layout-menu-icon-active" src="./assets/images/menu/panel-active.svg" />
            <span>Panel</span>
        </a>
        <div class="@(activeMenuIndex!=3?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,4))" :class="@(activeMenuIndex==4?"active-menuitem":string.Empty)">
            <img alt="overlay" class="layout-menu-icon-inactive" src="./assets/images/menu/overlay.svg" />
            <img alt="overlay" class="layout-menu-icon-active" src="./assets/images/menu/overlay-active.svg" />
            <span>Overlay</span>
        </a>
        <div class="@(activeMenuIndex!=4?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,5))" :class="@(activeMenuIndex==5?"active-menuitem":string.Empty)">
            <img alt="file" class="layout-menu-icon-inactive" src="./assets/images/menu/file.svg" />
            <img alt="file" class="layout-menu-icon-active" src="./assets/images/menu/file-active.svg" />
            <span>File</span>
        </a>
        <div class="@(activeMenuIndex!=5?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,6))" :class="@(activeMenuIndex==6?"active-menuitem":string.Empty)">
            <img alt="menu" class="layout-menu-icon-inactive" src="./assets/images/menu/menu.svg" />
            <img alt="menu" class="layout-menu-icon-active" src="./assets/images/menu/menu-active.svg" />
            <span>Menu</span>
        </a>
        <div class="@(activeMenuIndex!=6?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,7))" :class="@(activeMenuIndex==7?"active-menuitem":string.Empty)">
            <img alt="charts" class="layout-menu-icon-inactive" src="./assets/images/menu/charts.svg" />
            <img alt="charts" class="layout-menu-icon-active" src="./assets/images/menu/charts-active.svg" />
            <span>Chart</span>
        </a>
        <div class="@(activeMenuIndex!=7?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,8))" :class="@(activeMenuIndex==8?"active-menuitem":string.Empty)">
            <img alt="message" class="layout-menu-icon-inactive" src="./assets/images/menu/message.svg" />
            <img alt="message" class="layout-menu-icon-active" src="./assets/images/menu/message-active.svg" />
            <span>Messages</span>
        </a>
        <div class="@(activeMenuIndex!=8?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,9))" :class="@(activeMenuIndex==9?"active-menuitem":string.Empty)">
            <img alt="dragdrop" class="layout-menu-icon-inactive" src="./assets/images/menu/dragdrop.svg" />
            <img alt="dragdrop" class="layout-menu-icon-active" src="./assets/images/menu/dragdrop-active.svg" />
            <span>DragDrop</span>
        </a>
        <div class="@(activeMenuIndex!=9?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>

        <a @onclick="((e)=>toogleMenu(e,10))" :class="@(activeMenuIndex==10?"active-menuitem":string.Empty)">
            <img alt="misc" class="layout-menu-icon-inactive" src="./assets/images/menu/misc.svg" />
            <img alt="misc" class="layout-menu-icon-active" src="./assets/images/menu/misc-active.svg" />
            <span>Misc</span>
        </a>
        <div class="@(activeMenuIndex!=10?"submenuhide":"submenushow")">
            <div>
                <router-link to="/">&#9679; Link</router-link>
            </div>
        </div>
    </div>
</div>
@code {
    private int? activeMenuIndex = null;
    private void toogleMenu(MouseEventArgs eventArgs, int index)
    {
        this.activeMenuIndex = this.activeMenuIndex == index ? null : index;
    }
}